.posto-card {
    background-color: #313030; 
    border: 5px solid #024219;
    border-radius: 20px; 
    padding: 20px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.posto-card:hover {
    transition: 0.2s ease-in;
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}


.posto-card p {
    font-size: 15px; 
    color: #fff; 
    line-height: 1.6; 
}

#postos-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;
}
