body{
    background-color: #020202;
}
body {
    background-color: #020202;
}

#posto-detalhes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.posto-detalhes {
    max-width: 600px;
    width: 100%;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #fff; /* Texto branco */
}

.posto-detalhes p {
    text-align: center; /* Centralizar o texto */
}

.posto-detalhes ul {
    list-style-type: none;
    padding: 0;
}

.posto-detalhes li {
    margin-bottom: 10px;
}

.posto-detalhes li strong {
    font-weight: bold;
    margin-right: 5px;
}
