/*Estilo pagina inteira*/
body{
    background-color: #101310;
}

.posto-card {
    background-color: #1f1f1f;
    border-radius: 20px; 
    padding: 20px; 
    margin-bottom: 20px;
    width: 400px;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
    text-align: center;
}

.posto-card:hover {
    transition: 0.2s ease-in;
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}


.posto-card p {
    font-size: 15px; 
    color: #fff; 
    line-height: 1.6; 
}

#postos-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;
}
#pagination-container {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 20px; /* Espaçamento superior opcional */
}

.pagination-button {
    background-color: #05ad40; /* Cor de fundo */
    border: none; /* Remover borda */
    color: white; /* Cor do texto */
    padding: 7px 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Display inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de mãozinha */
    border-radius: 4px; /* Bordas arredondadas */
}

.pagination-button:hover {
    background-color: #05ad40; /* Cor de fundo ao passar o mouse */
}
#filter-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaçamento entre os filtros */
    background-color: #101310; /* Cor de fundo da barra */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 10px; /* Espaçamento inferior */
    flex-wrap: wrap; /* Permite quebrar linha em telas menores */
    font-family: "Poppins", sans-serif;
}

.filter-item {
    display: flex;
    flex-direction: column; /* Alinha label e select verticalmente */
    align-items: flex-start; /* Alinha label e select à esquerda */
    margin: 5px; /* Espaçamento ao redor dos itens */
}

.filter-item label {
    font-weight: normal; /* Fonte normal para o label */
    margin-bottom: 3px; /* Espaçamento abaixo do label */
    font-size: 14px; /* Tamanho da fonte do label */
    color: #fdfcfc; /* Cor do texto do label */
}

.filter-item select {
    padding: 5px 8px; /* Espaçamento interno do select */
    border: 1px solid #022705; /* Borda do select */
    border-radius: 4px; /* Bordas arredondadas do select */
    background-color: #05ad40; /* Cor de fundo do select */
    font-size: 14px; /* Tamanho da fonte do select */
    width: 150px; /* Largura do select */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.filter-item select:hover {
    background-color: #07792e; /* Cor de fundo ao passar o mouse */
    border-color: #999; /* Cor da borda ao passar o mouse */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    #filter-bar {
        flex-direction: column; /* Empilha itens verticalmente */
        align-items: stretch; /* Estica itens para ocupar a largura completa */
    }

    .filter-item {
        width: 100%; /* Ocupa largura total em telas menores */
    }

    .filter-item select {
        width: 100%; /* Remove largura fixa em telas menores */
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 300px; /* Largura do card */
    padding: 20px; /* Espaçamento interno do card */
    border: 1px solid #ccc; /* Borda do card */
    border-radius: 8px; /* Bordas arredondadas do card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra do card */
    background-color: #fff; /* Cor de fundo do card */
    margin: 10px; /* Espaçamento externo do card */
}

.info-button {
    background-color: #05ad40; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Display inline */
    font-size: 14px; /* Tamanho da fonte */
    margin: 10px 0 0 0; /* Margem para separar do texto acima */
    cursor: pointer; /* Cursor de mãozinha */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.3s; /* Transição suave */
}

.info-button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta levemente o tamanho ao passar o mouse */
}
